 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 60px;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 406px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 68px 792px 0 214px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -27px 673px 0 333px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -30px 177px 0 897px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -28px 966px 0 40px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 0 895px 0 214px;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -25px 177px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: -28px auto 0 40px;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: -28px auto 0 333px;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 10px 168px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: -27px 877px 0 214px;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  border-style: solid;
  margin: -28px auto 0 333px;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  border-style: solid;
  margin: 10px 172px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  border-style: solid;
  margin: 144px -630px 31px 1699px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 692px;
    margin-left: 114px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 573px;
    margin-left: 233px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 77px;
    margin-left: 797px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 806px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 795px;
    margin-left: 114px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 133px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 777px;
    margin-left: 114px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 20px;
    margin-left: 133px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 1599px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: 277px;
    margin-left: 309px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -29px;
    margin-right: 428px;
    margin-left: 158px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -29px;
    margin-right: 68px;
    margin-left: 586px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 586px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 41px;
    margin-right: auto;
    margin-left: 313px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -67px;
    margin-right: 68px;
    margin-left: 586px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -27px;
    margin-right: 641px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 158px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 12px;
    margin-right: 59px;
    margin-left: 586px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -68px;
    margin-right: auto;
    margin-left: 313px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 14px;
    margin-right: 450px;
    margin-left: 158px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 16px;
    margin-right: 63px;
    margin-left: 586px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 192px;
    margin-right: -840px;
    margin-left: 1489px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 187px;
    margin-left: 219px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 338px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 406px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 133px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-left: 474px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 461px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
    margin-left: 465px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 133px;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 360px;
    margin-left: 68px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
    margin-left: 469px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 1399px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 192px;
    margin-right: 206px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -151px;
    margin-right: 0;
    margin-left: 206px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 101px;
    margin-right: 67px;
    margin-left: 207px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -151px;
    margin-right: 206px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 163px;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -60px;
    margin-right: 67px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -154px;
    margin-right: 261px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 132px;
    margin-right: 62px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -61px;
    margin-right: 291px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -116px;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 129px;
    margin-right: 64px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin: 93px -1030px 0 1299px;
  }
}